@charset "utf-8";
/* CSS Document */

.intro-effect-sidefixed .bg-img::after {
    background: #000;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 100;
}