/*
Theme Name: Orvi Theme
Theme URI: http://marketingmindz.com/
Author: the Marketingmindz team
Author URI: http://marketingmindz.com/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full 
				range of post formats, each displayed beautifully in their own unique way. Design details abound, 
				starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible 
				layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, 
custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: orvi

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*@import url('css/styles.css');
@import url('css/component-form.css');
@import url('css/font-awesome.min.css');
@import url('css/gallery.css');
@import url('css/normalize.css');
@import url('css/responsive.css');
@import url('css/YTPlayer.css');*/
/* All three CSS files above will be loaded from
   this single document. */
   
.clear{
	clear:both;
}
#fancybox-right:hover span{
	right:5px !important;
}
#fancybox-close{
	right:-35px !important;
}
#lang_sel{
	z-index:11111111;
}
#lang_sel li{
	width:225px !important;
}
.archive .intro-effect-sidefixed .content > div:not(.title){
	position:unset !important;
}
.newsletter > form > p{
	margin:0;
}
.newsletter-submit{
	background:#fff !important;
	color:#000 !important;
	text-align:center !important;
}
.single #container article.relate > div:not(.title){
	max-width:100% !important;
	padding:0 !important;
	margin:0 !important;
}
.search_title h2{
	padding:15px 0;
}
.content{
	width:100%;
}
.relatedpostheight{
    height: 253px;
    overflow-y: scroll;
}
.product_title{
	font-weight:bold;
	font-size:30px !important;
}
.image-gallery a img {
    display: block;
    height: 150px;
    width: 150px;
}
#blanket {
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height:10px !important;
}
#popUpDiv {
	position:absolute;
	background-color:#eeeeee;
	width:476px;
	min-height:250px;
	z-index: 9002;
	top:1060px !important;
	right:400px; padding:0 20px;
}
.sendenq{
	margin:auto;
	width:100%;
}
.sendenq a{
	cursor:pointer;
}
.head_sendenq{
	text-align:center;
}
.closeenq{
	background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    margin: 0;
    padding: 0 8px;
    position: relative;
    right: -439px;
    top: -14px;
	cursor: pointer;
}
.del{
	cursor:pointer;
}
.enq-buttons{
	border: 2px solid #339999;
    float: right;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
    width: 190px;
}
.enq-buttons_cont{
	border: 2px solid #339999;
    float: left;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
    width: 190px;
}
.enq-buttons_cont a{
	color:#000;
	text-align:center;
}
.postbox{
	margin-top:20px;
	padding:0 0 30px;
}
.postbox p{
	margin:7px 0 7px 0;
	padding:0;
}
.postbox input{
	font-size: 16px;
    height: 30px;
    padding: 0 3px;
}
.postbox input[type="submit"]{
	font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
	float:right;
}
.postbox textarea{
	height:150px;
}
.two_buttons{
	margin:0 0 15px;
}
.entry_post{
	margin:0 0 15px 0;
}
.form_buttons{
	margin:0 0 15px;
}
table.exp_enquiry{
	font-size:12px;
}
.eemail_msg{
	color:green !important;
	font-size:16px !important;
}

.es_lablebox{
	font-size:16px !important;
}

.page-id-130 button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    bottom: 40px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 40px;
    left: 97%;
    margin-left: -8px;
    padding: 0;
    position: fixed;
    top: 50% !important;
    transform: rotate(90deg);
    width: 40px;
    z-index: 5000;
}
.archive button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    bottom: 40px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 40px;
    left: 97% !important;
    margin-left: -8px;
    padding: 0;
    position: fixed;
    top: 50% !important;
    transform: rotate(270deg);
    width: 40px;
    z-index: 5000;
}
.eemail_textbox_button{
	background: #fff none repeat scroll 0 0 !important;
    color: #000 !important;
    text-align: center !important;
}
.eemail_textbox_button:hover{
	background:none !important;
	color:#fff !important;
}

body.archive button.trigger.scroll-down-pulse{ animation:none !important; }
body.page-id-130 button.trigger.scroll-down-pulse{ animation:none !important; }


.catimg{
	height:100%;
}
.submit-button{
	background: rgba(51, 153, 153, 0.5) none repeat scroll 0 0;
    border: medium none !important;
    color: #000 !important;
    margin: 0;
    width: 150px;
}
.questions {
    margin: 15px 0;
}
.contact-form{
	margin:20px 0;
}
/*.exp_int{
	border: 2px solid;
    border-radius: 5px;
    color: #fff;
    padding: 6px 10px;
}*/
.fullwidth.contact-add {
    padding: 0 20px;
}
.image-gallery{
	padding:10px 0 0 !important;
}
.search_head{
	text-align:center;
}
a.exp_int:before{ 
	content:inherit !important; 
}
.title a:before{
	border-bottom:none;
}
.x-v-inner-logo img{
	display:block;
	margin:35px auto auto !important;
}
.relate_cats p{
	margin:30px 0 0 0 !important;
}