/*
Theme Name: Orvi Theme
Theme URI: http://marketingmindz.com/
Author: the Marketingmindz team
Author URI: http://marketingmindz.com/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full 
				range of post formats, each displayed beautifully in their own unique way. Design details abound, 
				starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible 
				layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, 
custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: orvi

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*@import url('css/styles.css');
@import url('css/component-form.css');
@import url('css/font-awesome.min.css');
@import url('css/gallery.css');
@import url('css/normalize.css');
@import url('css/responsive.css');
@import url('css/YTPlayer.css');*/
/* All three CSS files above will be loaded from
   this single document. */
   
.clear{
	clear:both;
}
#fancybox-right:hover span{
	right:5px !important;
}
#fancybox-close{
	right:-35px !important;
}
#lang_sel{
	z-index:11111111;
}
#lang_sel li{
	width:225px !important;
}
.archive .intro-effect-sidefixed .content > div:not(.title){
	position:unset !important;
}
.newsletter > form > p{
	margin:0;
}
.newsletter-submit{
	background:#fff !important;
	color:#000 !important;
	text-align:center !important;
}
.single #container article.relate > div:not(.title){
	max-width:100% !important;
	padding:0 !important;
	margin:0 !important;
}
.search_title h2{
	padding:15px 0;
}
.content{
	width:100%;
}
.relatedpostheight{
    height: 253px;
    overflow-y: scroll;
}
.product_title{
	font-weight:bold;
	font-size:30px !important;
}
.image-gallery a img {
    display: block;
    height: 150px;
    width: 150px;
}
#blanket {
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height:10px !important;
}
#popUpDiv {
	position:absolute;
	background-color:#eeeeee;
	width:476px;
	min-height:250px;
	z-index: 9002;
	top:1060px !important;
	right:400px; padding:0 20px;
}
.sendenq{
	margin:auto;
	width:100%;
}
.sendenq a{
	cursor:pointer;
}
.head_sendenq{
	text-align:center;
}
.closeenq{
	background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    margin: 0;
    padding: 0 8px;
    position: relative;
    right: -439px;
    top: -14px;
	cursor: pointer;
}
.del{
	cursor:pointer;
}
.enq-buttons{
	border: 2px solid #339999;
    float: right;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
    width: 190px;
}
.enq-buttons_cont{
	border: 2px solid #339999;
    float: left;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
    width: 190px;
}
.enq-buttons_cont a{
	color:#000;
	text-align:center;
}
.postbox{
	margin-top:20px;
	padding:0 0 30px;
}
.postbox p{
	margin:7px 0 7px 0;
	padding:0;
}
.postbox input{
	font-size: 16px;
    height: 30px;
    padding: 0 3px;
}
.postbox input[type="submit"]{
	font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0 15px;
	float:right;
}
.postbox textarea{
	height:150px;
}
.two_buttons{
	margin:0 0 15px;
}
.entry_post{
	margin:0 0 15px 0;
}
.form_buttons{
	margin:0 0 15px;
}
table.exp_enquiry{
	font-size:12px;
}
.eemail_msg{
	color:green !important;
	font-size:16px !important;
}

.es_lablebox{
	font-size:16px !important;
}

.page-id-130 button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    bottom: 40px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 40px;
    left: 97%;
    margin-left: -8px;
    padding: 0;
    position: fixed;
    top: 50% !important;
    transform: rotate(90deg);
    width: 40px;
    z-index: 5000;
}
.archive button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    bottom: 40px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 40px;
    left: 97% !important;
    margin-left: -8px;
    padding: 0;
    position: fixed;
    top: 50% !important;
    transform: rotate(270deg);
    width: 40px;
    z-index: 5000;
}
.eemail_textbox_button{
	background: #fff none repeat scroll 0 0 !important;
    color: #000 !important;
    text-align: center !important;
}
.eemail_textbox_button:hover{
	background:none !important;
	color:#fff !important;
}

body.archive button.trigger.scroll-down-pulse{ animation:none !important; }
body.page-id-130 button.trigger.scroll-down-pulse{ animation:none !important; }


.catimg{
	height:100%;
}
.submit-button{
	background: #778c87;
    border: medium none !important;
    color: #000 !important;
    margin: 0;
    width: 150px;
}
.questions {
    margin: 15px 0;
}
.contact-form{
	margin:20px 0;
}
/*.exp_int{
	border: 2px solid;
    border-radius: 5px;
    color: #fff;
    padding: 6px 10px;
}*/
.fullwidth.contact-add {
    padding: 0 20px;
}
.image-gallery{
	padding:10px 0 0 !important;
}
.search_head{
	text-align:center;
}
a.exp_int:before{ 
	content:inherit !important; 
}
.title a:before{
	border-bottom:none;
}
.x-v-inner-logo img{
	display:block;
	margin:35px auto auto !important;
}
.relate_cats p{
	margin:30px 0 0 0 !important;
}
.w-a-m {
    text-align: center;
    width: 60%;
}
.v-range-align a:before{
	border-bottom:none;
}
.section-title{ text-align:center; }
.fullwidth.contact-add h4, .fullwidth.contact-add p{ text-align:center; }
.sidebar-social-networks{ text-align:center; display:inline-block; }
.sidebar-social-networks ul{ width:auto; float:none; display:inline-block; }
.fullwidth.bottom-links p{ text-align:center; }
select#cat{ padding:3px 5px; font-size:15px; }

.v-range-align:nth-child(2) img{ width:100px; }
.v-range-align{
	text-transform:uppercase;
}
.v-range-align p{
	text-transform: capitalize;
	font-family: "Raleway";
}
/*.pre-nex-design {
    margin: 50px auto !important;
    width: 54%;
}*/
.content {
    margin-bottom: 30px;
}




nav.sidebar-navigation-menu select {
    background-color: rgba(50, 56, 60, 0.6);
    border: none;
    width: 100%;
    color: #fff;
    padding: 6px 5px 6px 80px !important;
    font-weight: bold;
    font-size: 14px !important;
    text-transform: uppercase;
}

nav.sidebar-navigation-menu select option {
    text-align: center !important;
}

.home .title{ top:20%; }
.mm-y-range-section, .mm-x-range-section{ top:20%; }
.mm-x-range-section img, .mm-y-range-section img{ width:70px !important; }
.mm-x-range-section p, .mm-y-range-section p{ font-size:12px !important; line-height:14px !important; text-align:center; margin-bottom:0px;padding: 0 40px; }
.mm-x-range-section h2, .mm-y-range-section h2{ margin-top:0px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ padding:0px 5px 2px; font-size:12px; }

.designer-single-page.last-img-des{ width:100%; float:left; }
.designer-single-page img{ width:55% !important; }
.designer-single-page.last-img-des img{ float:right !important; margin-right:-6% !important; }
.single-item-effect.big.deg-bg-single{ background:#000 !important; }

/*****************ADVANCED SEARCH CSS******************************************************/
#tog-aps select {
    width: 120px;
}
#tog-aps > form {
    font-size: 12px;
    margin: 10px 8px;
}
#tog-aps input {
    margin: 0;
    padding: 0 5px;
}
.five{
	height:125px !important;
}
.quicklinks ul li a:before{
	border-bottom:none !important;
}

.width_35{ float:left; width:35%; }
.width_65{ float:left; width:65%; }

.mobile_icon{ display:none; }
/* Responsive work start 18.09.2015 */



/* iphone (portrait) start */
@media only screen and (min-width : 320px) and (max-width : 359px) {
body.home .title{ top:6% !important; }
.home .title img{ width:17%; }
.mm-y-range-section, .mm-x-range-section{ width:40%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; margin-top:15px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
.blog_content_left{ width:100%; }
.blog_content_right{ width:100%; }
.blog_content_left img{ height:auto; }
.grid figure.big{ width:100%; }
.blogs_part img{ height:auto; }
.five{ height:80px !important; }

body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }

.index-single figure.single-item-effect p{ opacity:1; }

.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }

}
/* iphone (portrait) end */

/* iphone (landscape) start */
@media only screen and (min-width : 320px) and (max-width : 359px) and (orientation : landscape) {
body.home .title{ top:9% !important; }
.home .title img{ width:30%; }
.mm-y-range-section, .mm-x-range-section{ width:40%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
.blog_content_left{ width:100%; }
.blog_content_right{ width:100%; }
.blog_content_left img{ height:auto; }
.grid figure.big{ width:100%; }
.blogs_part img{ height:auto; }
.five{ height:80px !important; }

.index-single figure.single-item-effect p{ opacity:1; }

body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }

.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* iphone (landscape) end */

/* Smartphones (portrait) start */
@media only screen and (min-width : 360px) and (max-width : 599px) {
body.home .title{ top:6% !important; }
.home .title img{ width:17%; }
.mm-y-range-section, .mm-x-range-section{ width:40%; top:15%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; margin-top:15px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
.blog_content_left{ width:100%; }
.blog_content_right{ width:100%; }
.blog_content_left img{ height:auto; }
.grid figure.big{ width:100%; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }
.five{ height:80px !important; }

body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }

.index-single figure.single-item-effect p{ opacity:1; }

.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* Smartphones (portrait) end */

/* Smartphones (landscape) start */
@media only screen and (min-width : 360px) and (max-width : 599px) and (orientation : landscape) {
body.home .title{ top:20% !important; }
.home .title img{ width:20%; }
.mm-y-range-section, .mm-x-range-section{ width:30%; top:40%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
.blog_content_left{ width:100%; }
.blog_content_right{ width:100%; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }
.five{ height:90px !important; }

body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }

.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* Smartphones (landscape) end */

/* Mini Tab (portrait) start */
@media only screen and (min-width : 600px) and (max-width : 767px) {
body.home .title{ top:8% !important; }
.home .title img{ width:20%; }
.mm-y-range-section, .mm-x-range-section{ width:25%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
figure.res_600{ width:50% !important; float:left; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }

body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }
.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* Mini Tab (portrait) end */

/* Mini Tab (landscape) start */
@media only screen and (min-width : 600px) and (max-width : 767px) and (orientation : landscape) {
body.home .title{ top:12% !important; }
.home .title img{ width:15%; }
.mm-y-range-section, .mm-x-range-section{ width:20%; }
.mm-x-range-section img, .mm-y-range-section img{ min-height:35px; width:40px !important; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
.mm-x-range-section h2 a, .mm-y-range-section h2 a{ font-size:10px; width:100%; float:left; padding:0 0 2px; margin-top:10px; }

.width_35{ width:100%; }
.width_65{ width:100%; }
ul.product_details{ padding:0 5% 0 2%; }
.p_part{ font-size:13px; }
.v-search{ max-width:200px; padding:5px; }
#tog-aps select{ width:100% !important; padding:5px; margin:5px 0px; }
.v-search input[type="submit"]{ width:100% !important; margin:5px 0 0px !important; font-size:14px !important; padding:5px !important; }

.w-a-m{ width:90%; }
figure.res_600{ width:50% !important; float:left; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }
body .cd-primary-nav-trigger, body .sound{ width:30px; height:30px; right:15px; top:15px; }
.cd-primary-nav-trigger .cd-menu-icon{ width:12px; }
.travelogue-search{ width:30px; height:50px; min-width:30px; right:47px; top:7.7px; margin-top:0px; }
.travelogue-icon-search, .travelogue-icon-sound{ font-size:17px; }
.travelogue-icon-search, .travelogue-search-submit{ padding:3px; width:30px; height:30px; top:7.7px; }
.travelogue-search-input{ right:30px; top:7.7px; }

#container > ul#aps{ right:50px; top:7.7px; }
.v-search{ right:78px; top:14.7px; }
.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* Mini Tab (landscape) end */

/* iPads (portrait and landscape) start */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
body.home .title{ top:6% !important; }
.home .title img{ width:15%; }
.mm-y-range-section, .mm-x-range-section{ width:20%; top:10%; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
figure.res_600{ width:50% !important; float:left; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }
.five{ height:95px !important; }

.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* iPads (portrait and landscape) end */

/* iPads (landscape) start */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
body.home .title{ top:10% !important; }
.home .title img{ width:15%; }
.mm-y-range-section, .mm-x-range-section{ width:16%; top:20%; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
figure.res_600{ width:50% !important; float:left; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }

.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* iPads (landscape) end */

/* iPads (portrait) start */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
body.home .title{ top:10% !important; }
.home .title img{ width:15%; }
.mm-y-range-section, .mm-x-range-section{ width:20%; top:20%; }
.mm-x-range-section p, .mm-y-range-section p{ padding:0px; }
figure.res_600{ width:50% !important; float:left; }
.blog_content_left img{ height:auto; }
.simform{ width:90%; }
.blogs_part img{ height:auto; }

.index-single figure.single-item-effect p{ opacity:1; }
.fullwidth.sidebar-navigation-menu li{ position:relative; }
.mobile_icon{ width:30px; height:30px; position:absolute; right:0px; top:0px; background:rgba(50, 56, 60, 0.5) none repeat scroll 0 0; display:block; }
.fullwidth.sidebar-navigation-menu li:hover ul{ display:none; }
.mobile_icon span{ position:relative; float:left; }
.mobile_icon span:before {
    color: #FFF;
    opacity: 0.7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 34px;
    position: absolute;
    text-align: center;
    width: 35px;
    max-width: 35px;
    z-index: 2;
    top: -2px;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	transform:rotate(90deg);
}
.index-single .grid figure{ height:auto; }
}
/* iPads (portrait) end */

/* Desktops and laptops start */
@media only screen and (min-width : 1224px) {

}
/* Desktops and laptops end */


/*****************ADVANCED SEARCH CSS******************************************************/

@media only screen and (min-width: 980px) and (max-width: 1199px){
.pre-nex-design{ width:74%; }	
}

@media only screen and (min-width: 1200px) and (max-width: 1365px){
.pre-nex-design{ width:59.5%; }	
}